{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}

{% block body %}



<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Cart!</h1>
      <p>My Cart Pvt Ltd. is an Indian electronic commerce company based in Bengaluru, India. Founded by Shashank Jaiswal in 2020, the company expands in selling many product categories such as consumer electronics, fashion, and lifestyle products, laptops, computer accessory.

The service is primiarly made by using Django. I have also use Bootstrap for frontend and the database used in the website is db.sqlite3 which is an inbuild database on django. The website holds a lot of features worth checking out.

        You can also contat me on other social media platforms mentioned below. </p>

      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>
  <h1 class="container" align="center">Contact the Developer:</h1>

  <div class="container my-4">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Linkedln</h2>
        <p>You can connect with me on Linkedln through the link given below!</p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/shashank-jaiswal-439b70155" role="button">Linkedln »</a></p>
      </div>
      <br>
      <div class="col-md-4">
        <h2>Instagram</h2>
        <p>You can follow me on instagram through the link given below!</p>
        <p><a class="btn btn-secondary" href="https://www.instagram.com/shashank_1403?r=nametag" role="button">Instagram »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Email</h2>
        <p>Email me on the link given below if you wish to contact me!</p>
        <p><a class="btn btn-secondary" href="https://www.gmail.com" role="button">Mail here »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
